/* メインコンテナのスタイル */
.main-container {
  width: 80%; /* 画面全体の80%の幅 */
  margin: 0 auto; /* 水平方向に中央揃え */
  padding: 20px; /* 内側の余白 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 影を追加 */
  background-color: #fff; /* 背景色を白に設定 */
  border-radius: 8px; /* 角を丸く */
}

/* 既存のスタイル */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

div {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  width: calc(100% - 40px); /* 全体の幅から左右のマージンを引いた幅 */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 20px; /* 上下左右に20pxのマージンを設定 */
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.loadingSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}