.code-container {
  border: 1px solid #ddd;
  /* 枠線を元に戻す */
  border-radius: 5px;
  /* 角を丸く */
  margin: 16px 0;
  /* 上下のマージンを設定 */
  padding: 10px;
  /* 内側の余白を設定 */
  background-color: #f9f9f9;
  /* 背景色を明るいグレーに戻す */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* 影を元に戻す */
}

.code-header {
  background-color: rgba(51, 51, 51, 0.8);
  /* ヘッダを透過ダークグレーに設定 */
  color: #fff;
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.file-name {
  cursor: pointer;
  font-size: 80%;
  color: #fff;
  /* ファイル名の色を白に */
}

.file-name:hover,
.file-name:active {
  text-decoration: underline;
  background-color: transparent;
  /* ホバーとアクティブ時の背景色を透明に設定 */
}

.copy-button {
  background-color: transparent;
  /* 無色 */
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 80%;
  display: inline-flex;
  align-items: center;
  margin: 0;
  /* マージンを削除 */
  position: relative;
}

.copy-button:hover,
.copy-button:active {
  text-decoration: underline;
  background-color: transparent;
  /* ホバーとアクティブ時の背景色を透明に設定 */
}

.copy-button svg {
  margin-right: 5px;
}

.code-container pre {
  margin: 0;
  /* コードエリアのマージンを削除 */
  border-radius: 0 0 5px 5px;
  /* 角を丸くする */
}

/* 全てのボタンに共通のスタイル */
button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

/* ファイル選択とGenerate Codeボタンのデフォルトスタイル */
.button-primary {
  background-color: #add8e6;
  /* 薄いブルー */
  color: #333;
}

.button-primary:hover {
  background-color: #0056b3;
  /* マウスオーバー時の背景色 */
  color: white;
}

/* Clear、Resetボタンのスタイル */
.button-secondary {
  background-color: #e0e0e0;
  /* 現在のグレー色 */
  color: #333;
}

.button-secondary:hover {
  background-color: #c0c0c0;
  /* マウスオーバー時の背景色 */
  color: #333;
}

button:active,
button:focus {
  background-color: transparent;
  /* アクティブまたはフォーカス時の背景色 */
  color: #fff;
  /* アクティブまたはフォーカス時のテキスト色 */
}